!!!5
%html
  %head
    %title
      =current_page.data.title
    %meta{content: "text/html; charset=UTF8", "http-equiv" => "content-type"}/
    %meta{content: "#{current_page.data.description}", name: "description"}/
    %meta{content: "fleet,commander,fleetcommander", name: "keywords"}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/

    / Favicons
    %meta{content: "Flathub", "name": "application-name"}/
    %meta{content: "Flathub", "name": "apple-mobile-web-app-title"}/
    %meta{content: "/img/browserconfig.xml", "name": "msapplication-config"}/
    %meta{content: "#ffffff", "name": "theme-color"}/
    %link{rel: "apple-touch-icon", "sizes" => "180x180", "href": "/img/apple-touch-icon.png"}/
    %link{rel: "icon", "type": "image/png", "sizes" => "32x32", "href": "/img/favicon-32x32.png"}/
    %link{rel: "icon", "type": "image/png", "sizes" => "16x16", "href": "/img/favicon-16x16.png"}/
    %link{rel: "manifest", "href": "/img/manifest.json"}/
    %link{rel: "mask-icon", "href": "/img/safari-pinned-tab.svg", "color": "#256ed0"}/
    %link{rel: "shortcut icon", "href": "/img/favicon.ico"}/

    %link{href: "/stylesheets/fontawesome.css", rel: "stylesheet"}/
    = stylesheet_link_tag :fonts
    = stylesheet_link_tag :site
    = stylesheet_link_tag :animate
    = javascript_include_tag :jquery

  %body#page-top
    %nav#mainNav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -if (current_page.path == 'index.html')
            = link_to data.site.name, "#page-top", :class => "navbar-brand page-scroll"
          -else
            = link_to data.site.name, "index.html", :class => "navbar-brand page-scroll"

        = partial "navigation"
      / /.container-fluid
  %main
    = yield
  = partial "footer"
  = javascript_include_tag "jquery.easing.min"
  = javascript_include_tag "jquery.toc.min"
  = javascript_include_tag :bootstrap
  = javascript_include_tag :all
  = google_analytics_universal_tag
