---
title: Applications hosted on Flathub
description: Applications distributed as Flatpaks, ready to download.
---
%section
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h1 Apps for every Linux distribution
        %p
          Follow the
          =succeed " and try any of these apps today." do
            =link_to "setup steps", "index.html#setup"

        %ul#tabs.nav.nav-tabs{"role" => "tablist"}
          %li.active{:role => "presentation"}
            %a{:href => "#graphical", :role => "tab", "data-toggle" => "tab"} Click to Download
          %li{:role => "presentation"}
            %a{:href => "#cli", :role => "tab", "data-toggle" => "tab"} Command Line
        
        .tab-content.mediumgap
          %div#graphical.tab-pane.active.fade.in{:role => "tabpanel"}
            .appslist
              - data.appstream.apps.sort_by{ |i| i.name.downcase }.each do |i|
                %a{:class => 'apptile', :href => i.flatpakref, :style => "background-color: #{i.color}"}
                  - if i.icons["128"]
                    = image_tag i.icons["128"], :class => 'icon'
                  - elsif i.icons["64"]
                    = image_tag i.icons["64"], :class => 'icon'

                  %div
                    %h4 #{i.name}
                    %p #{i.summary}
                        

          %div#cli.tab-pane.fade{:role => "tabpanel"}

            %p
              For more information on how to update and manage your applications, see the
              =link_to "command line docs.", "http://docs.flatpak.org/en/latest/command-reference.html"

            - data.appstream.apps.sort_by{ |i| i.name.downcase }.each do |i|
              - if (i.flatpakref)
                %a{:name => i.name}
                %h4 #{i.name}

                %pre
                  <span class="unselectable">$ </span>flatpak install --from #{i.flatpakref}

